*{
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
} 

.root {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.page {
  width: 100%;
  max-width: 1420px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  color: #5C6162;
  display: block;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
}

.header__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  padding: 0;
}

@media(max-width: 840px) {
  .header__content {
    justify-content: center;
    margin: 0;
  }
}

.header__logo {
  width: 230px;
  overflow: hidden;
  object-fit: cover;
}

.header__info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media(max-width: 840px) {
  .header__info {
    display: none;
  }
}

.header__text {
  margin: 0;
  margin-left: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #5C6162;
}

.header__text:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity linear 0.3s;
}

.header__text_important {
  color: #0094DE;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.introduction {
  width: 100%;
  height: 520px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)),
  url('./images/introduction-background.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.introduction__title {
  max-width: 80%;
  font-weight: 600;
  font-size: 52px;
  text-transform: uppercase;
  margin-top: 160px;
  margin-bottom: 0px;
  text-align: center;
  align-self: center;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}

@media(max-width: 840px) {
  .introduction__title {
    margin-top: 120px;
  }
}

@media(max-width: 540px) {
  .introduction__title {
    font-size: 36px;
  }
}

.introduction__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  opacity: 0.7;
  margin: 15px auto;
  text-align: center;
  max-width: 80%;
  letter-spacing: 0.05em;
}

.introduction__button {
  margin: 128px auto 0;
  width: 250px;
}

.introduction__button-link {
  text-decoration: none;
  color: #FFFFFF;
}

@media(max-width: 840px) {
  .introduction__button {
    margin-top: 80px;
  }
}

@media(max-width: 540px) {
  .introduction__button {
    font-size: 36px;
  }
}

.button {
  min-height: 42px;
  align-self: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #0094DE;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  border: none;
}

@media(min-width: 1024px) {
  .button:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity linear 0.3s;
  }
}
.theses {
  width: 100%;
  margin: 110px 0;
  padding: 0;
  display: inline-block;
}

.theses__box {
  width: 70%;
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, min-content));
  gap: 80px;
  justify-content: center;
}

.theses__text {
  text-align: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.07em;
  opacity: 0.7;
  margin: 0;
  padding: 0;
  align-self: center;
}

.theses__text_important {
  color: #0094DE;
  font-weight: 700;
  letter-spacing: 0.12em;
  margin: 0;
  padding: 0;
}

.services {
  width: 100%;
  margin: 0;
  padding: 50px 0;
  background-color: rgba(0, 148, 222, 0.05);
}

.section__heading {
  margin: 0px auto;
  max-width: 726px;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #5C6162;
}


.services__content {
  width: 70%;
  margin: 40px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr;
  grid-template-rows: max-content;
  gap: 40px;
  align-items: center;
}

@media(max-width: 900px) {
  .services__content {
    width: 90%;
  }
}

@media(max-width: 770px) {
  .services__content {
    grid-template-columns: 1fr;
    justify-items: start;
    width: 60%;
    align-self: center;
    gap: 20px;
  }
}

.services__card {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300; 
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.07em;
  color: #5C6162;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media(max-width: 770px) {
  .services__card {
    margin-left: 30px;
  }
}

.services__card_first {
  min-height: 110px;
  color: #0094DE;
  font-size: 16px;
  font-weight: 400;
}

@media(max-width: 770px) {
  .services__card_first {
    margin-left: 0px;
  }
}

.services__icon-done {
  width: 17.6px;
  height: 13.4px;
  object-position: center;
  object-fit: contain;
  margin: 0 10px 0 0;
}

.services__text {
  margin: 0;
  padding: 0;
}

.feedback {
  width: 100%;
}

.feedback__content {
  width: 70%;
  margin: 95px auto 0;
}

.feedback__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  margin: 40px 0 0;
  padding: 0;
  color: #5C6162;
}

@media(max-width: 765px) {
  .feedback__text {
    text-align: center;
  }
}

.feedback__form {
  width: 100%;
  margin: 30px auto 0;
}

.feedback__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.feedback__field {
  height: 42px;
}

.feedback__input {
  border: 0.5px solid #5C6162;
  box-shadow: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: #5C6162;
  font-size: 14px;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.feedback__input:hover {
  cursor: pointer;
}

.feedback__input:focus {
  box-shadow: #0094DE;
  cursor: auto;
}

.feedback__submit-button {
  height: 42px;
}

.contacts {
  width: 90%;
  margin: 115px auto 88px;
}

@media(max-width: 599px) {
  .contacts {
    width: 100%;
  }
}

.contacts__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

@media(max-width: 599px) {
  .contacts__container {
    flex-direction: column;
  }
}

.contacts__maps {
  width: 70%;
  max-height: 560px;
  border: none;
}

@media(max-width: 599px) {
  .contacts__maps {
    width: 100%;
    min-height: 225px;
  }
}

.contacts-list {
  display: inline-block;
  margin: 0 0;
  text-align: center;
}

.contacts-list__icon {
  width: 24px;
  height: 24px;
  margin: 0;
  object-fit: contain;
  object-position: center;
}

.contacts-list__block {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #5C6162;
  margin: 0 auto 50px;
  letter-spacing: 0.07em;
}

@media(max-width: 599px) {
  .contacts-list__block {
    margin-top: 50px;
  }

  .contacts-list__block:last-child {
    margin-bottom: 20px;
  }
}

.contacts-list__block:last-child{
margin-bottom: 0;
}

.contacts-list__heading {
  font-weight: 700;
  font-style: normal;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}



.contacts-list__text {
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.footer {
  background-color: #5C6162;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer__text {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.05;
  margin: 0 0 0 150px;
  padding: 0;
}

@media(max-width: 540px) {
  .footer__text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
}